.container {
    display: flex;
    position: relative;
    width: 50rem;
    height: 55rem;
    margin-right: 1rem;
    overflow: hidden;
}

.container img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 4rem;
    text-align: left;
    font-size: 3rem;
}

h2 > span {
    background-color: #f2f2f2;
    color: #111111;
    box-shadow: -0.3rem 0 0 0.4rem #f2f2f2,
                0.3rem 0 0 0.4rem #f2f2f2,
                0 0 0 0.4rem #f2f2f2;
    box-decoration-break: clone;
}

.left-info {
    top: 1rem;
    left: 1rem;
    position: absolute;
    margin: 1.5rem;
    float: left;
    padding: 0.5rem;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.right-title {
    top: 1rem;
    right: 1rem;
    position: absolute;
    margin: 1.5rem;
    float: right;
    max-width: 40%;
    text-align: left;
}

