<header>
    <app-menu-bar></app-menu-bar>
</header>
<div class="container">
    <app-menu-title></app-menu-title>
    <div class="articles">
        <div class="articles_main">
            <app-big-card
            cardImage="../../../assets/chatgpt.jpeg" 
            cardTitle="How ChatGPT can change medical education" 
            cardText="ChatGPT">
            </app-big-card>
        </div>
        <div class="articles_others">
            <app-small-card 
            cardImage="../../../assets/apple-watch.jpeg" 
            cardTitle="Apple Watch leads the way in health tech with latest development" 
            cardText="Wearables">
            </app-small-card>
            <app-small-card
            cardImage="../../../assets/brain.jpeg" 
            cardTitle="The importance of AI for future-ready hospitals" 
            cardText="AI">
            </app-small-card>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>